@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    z-index: 1;
    overflow-x: none;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: none;
}

.fff {
  flex: 1 0 auto;
}

@font-face {
  font-family: 'Grisly Beast';
  src: url('../font/GrislyBeast.ttf');
}

@font-face {
  font-family: 'Strenuous';
  src: url('../font/strenuous.otf');
}

.font-primary {
  font-family: 'Strenuous';
}

.font-secondary {
  font-family: 'Grisly Beast';
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #581c87;
}

::-webkit-scrollbar-thumb {
  background: #c026d3;
}

::-webkit-scrollbar-thumb:hover {
  background: #0891b2;
}