@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    overflow-x: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: none;

}

@font-face {
  font-family: 'Grisly Beast';
  src: url('../font/GrislyBeast.ttf');
}

@font-face {
  font-family: 'Strenuous';
  src: url('../font/strenuous.otf');
}

.font-primary {
  font-family: 'Strenuous';
}

.font-secondary {
  font-family: 'Grisly Beast';
}

@keyframes fadeInLeft {
  0%{
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}