@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-dark: #141414;
  --secondary-color-dark: #000;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color-dark);
}  

::-webkit-scrollbar-thumb {
  background: var(--secondary-color-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

body {
  position: relative;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: 'Grisly Beast';
  src: url('../font/GrislyBeast.ttf');
}

@font-face {
  font-family: 'Strenuous';
  src: url('../font/strenuous.otf');
}

.font-primary {
  font-family: 'Strenuous';
}

.font-secondary {
  font-family: 'Grisly Beast';
}

.blurred {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.hidden-animation {
  display: none;
  opacity: 0;
}

.shown-animation {
  display: block;
  animation-iteration-count: 1;
  animation: opacity 2s;
  -moz-animation: opacity 2s;
  -moz-animation-iteration-count: 1;
  -webkit-animation: opacity 2s;
  -webkit-animation-iteration-count: 1;
}

.i {
  z-index: 99;
}

@keyframes opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}