.App {
    height: 200vh;
    position: relative;
  }
  
  .content {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 100px;
  }
  
  .moon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .moon img {
    width: 150px;
  }